spring:
  application:
    name: yue-ai-agent
  profiles:
    active: local

server:
  port: 8123
  servlet:
    context-path: /api

# springdoc-openapi
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.yue.yueaiagent.controller
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn

# searchAPI
search-api:
  api-key: ${SEARCH_API_KEY:}
# 修改日志级别，查看 Spring AI 更多调用细节
logging:
  level:
    org.springframework.ai: DEBUG